<% unless @photos.empty? %>
<div style="margin-left:50px">
	<p><h1><%= @title%></h1></p>
	<BR />
	<ul class="thumbnails">
	  <% @photos.each do |p| %>
	  <li class="span2">
	    <a href="<%=p.image.url(:large)%>" class="thumbnail">
	      <!--
	      <img src="examples/55a377c3cbea.jpg" alt="" height="100px">
	      -->
	      <%= image_tag(p.image.url(:thumb)) %>
	    </a>
	  </li>
	  <% end %>
	</ul>
</div>
<% else %>
	фотографии еще не были добавлены в архив
<% end %>