<%unless @all_posts.empty? %>
<h1><%= @title%></h1>
   <% @all_posts.each do |post|  %>
    <%= render "share/archive_preview",:post=>post%>
   <%end%>
<% else %>
	<div>
		фото архив пока не заполнен
	</div>
<% end %>